<ion-content forceOverscroll="false">
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>

  <ion-grid>
 
    <ion-row align-items-center>
  
 
      <ion-col size="12">

      </ion-col>
 
    </ion-row>
 
 
 
    <ion-row no-padding class="matrix">
      <ion-col size="6" class="q1">
        
        <ion-list dragula="bag" [(dragulaModel)]="q1" lines="none">
          <ion-item *ngFor="let item of q1" [color]="item.color" expand="block" text-wrap>
         <ion-img [src]="item.pic"></ion-img>
            <ion-label>{{ item.value }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
 
      <ion-col size="6" class="q2">
        
        <ion-list dragula="bag" [(dragulaModel)]="q2" lines="none">

          <ion-item *ngFor="let item of q2" [color]="item.color" expand="block" text-wrap>
        

  <ion-img [src]="item.pic"></ion-img>
           <ion-label>{{ item.value }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
 
     
 
      
    </ion-row>
  </ion-grid>
 
  <div style ="position:absolute;bottom:0" align ="center">
    <p style ="size:300px" align ="center"><ion-icon name ="trash"></ion-icon> DROP HERE</p>
  </div>
 
</ion-content>