<ion-content forceOverscroll="false">
<div class="container">
  <video width="0" height="0" controls autoplay loop >
    <source src="../assets/baby.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video>
      <ion-slides [options]="slideOpts" #slides (ionSlideDidChange)="slideChanged(slides)">
        <ion-slide *ngFor="let header of headers;">
        
            <h1 class="ion-text-center">
              {{header}} 
            </h1>
        
        </ion-slide> 
         <ion-slide>
         
        </ion-slide>
      </ion-slides>

      <div class="vids">
        <div *ngFor="let item of q1" class="pictures-gifs">
        <img [src]="item.pic">
        </div>
      </div>

      <div class="weird">
        <ion-grid>
 
          <ion-row align-items-center>
        
       
            <ion-col size="12">
      
            </ion-col>
       
          </ion-row>
       
       
       
          <ion-row no-padding class="matrix">
        
       
            
       
           
              <ion-col size="6" class="q2">
              
              <ion-list dragula="bag" [(dragulaModel)]="q2" lines="none">
      
                <ion-item *ngFor="let item of q2" [color]="item.color" expand="block" text-wrap>
              
      
        <img [src]="item.pic"  style="width: 100%; height: 150px; ">
                 
                </ion-item>
              </ion-list>
            </ion-col>
       
            <ion-col size="6" class="q3">
              
              <ion-list dragula="bag" [(dragulaModel)]="q3" lines="none">
      
                <ion-item *ngFor="let item of q3" [color]="item.color" expand="block" text-wrap>
              
      
        <img [src]="item.pic" style="width: 100%; height: 150px;">
                 
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      
      <div class="drop">
        <div class="fr_r">

        </div>
        <img src="../../assets/undraw_drag_5i9w.svg" style="width: 50px; height: 50px" alt="">
       
      </div>
</div>

   

 
 
 
 
</ion-content>