

<ion-content>
    <div class="welcome">
        <div class="card">
          <div class="gif-image">
            <img src="../../assets/free-gifs-and-png-to-save-and-use-an-individual-emoji-file-without-using-the-app-1-locate-the-emoji-file-you-wish-to-use-static-png-or-animated-gif-2-200.gif" alt="">
          </div>
          <div class="info">
            <h1>You are a Superstart</h1>
            <h1>Princes</h1>
            <ion-text style="margin-bottom: 2em;">
              Let us try Level Two
            </ion-text>
            <ion-button  shape="round" (click)="start()" color="light">START</ion-button>
          </div>
        </div>
      
      </div>
</ion-content>
