
.welcome {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.active {
  background: #ff963e;
  color: #fff;
  transform: scale(2.5);
  padding: .5em;
  border-radius: 50px;
  position: relative;
  z-index: 10;
  transition: all 500ms;
}
ion-title {
  font-size: 25px;
}
ion-slides, ion-slide {
  display: flex;
  height: 100% !important;
  width: 100%;
 
  

  
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .header {
    flex-basis: 10%;
    width: 100% !important;

  }

  .content_slide_two {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;


    .age {
      flex: 0 0 20%;
      overflow: hidden;
      width: 90%;
      box-shadow: -6px -6px 16px rgb(255, 255, 255), 6px 6px 16px rgba(0,0,0,.20);
      border-radius: 5px;
      background: #eef2f5;
      display: flex;
      align-items: center;



      .btn {
        flex-basis: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        background: rgba(209, 209, 209, 0.24);

      }
      ion-slides {
        flex-basis: 85%;
      }
      
    }
    

    .male-container, .female-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;


      input[type="text"] {
        width: 90%;
        margin: 0 auto;
        border: none;
        padding: 15px;
        border-radius: 5px;
        box-shadow: -6px -6px 16px rgb(255, 255, 255), 6px 6px 16px rgba(0,0,0,.20);
        font-size: 21px;
        background: #eef2f5;
    }
    .male {
      height: 160px;
      width: 160px;
      border-radius: 50%;
      background: rgb(255, 255, 255);
      margin-bottom: 2em;
      box-shadow: -6px -6px 16px rgb(255, 255, 255), 6px 6px 16px rgba(0,0,0,.20);
      position: relative;

      img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        border-radius: 50%;
      }
    
    }
  }
  }

  .content {
    flex: 0 0 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .male-container, .female-container {
      display: flex;
      flex-direction: column;
      width: 100%;
     

      .male, .female {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        overflow: hidden;
        box-shadow: -6px -6px 16px rgb(255, 255, 255), 6px 6px 16px rgba(0,0,0,.20);

        img {
          height: 100%;
          width: 100%;
        }
      }

      ion-text {
        padding: 1em;
        font-weight: 700;
        letter-spacing: .1em;
      }

    }

  
  }

 

}

}
ion-content  {
  --background: linear-gradient(#ffe1a7, #fcc190);
}
ion-toolbar {
  --background: transparent;
}